
<!DOCTYPE html>
<html lang="en-us" >
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>登录 | evaluate</title>
  
  <link rel="stylesheet" type="text/css" href=""/>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="all"/>
  <link rel="stylesheet" type="text/css" href="/static/suit/css/suit.css" media="all">
  
    

  
  <script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
  <script src="/static/suit/js/jquery-2.2.4.min.js"></script>
  <script type="text/javascript">var Suit = { $: $.noConflict() }; if (!$) $ = Suit.$; </script>
  <script src="/static/suit/bootstrap/js/bootstrap.min.js"></script>
  
  <style type="text/css">.required:after { content: '*'; margin: 0 0 0 5px; position: absolute; color: #ccc;}</style>
  
  
  
    <meta name="robots" content="NONE,NOARCHIVE"/>
</head>


<body class="login" style="background: #4a8df2">
  <img src="/static/img/background.png" alt="" style="position: absolute;margin:130px 0px 0px 190px;width:732px;height: 604px;">


{% for error in errors%}
<p class="errornote alert alert-error">
                        {{error}}
                    </p>
{% endfor %}
<!-- Sticky footer wrap -->
<div id="wrap">

  <!-- Container -->
  

    

        

        

        <div id="content-main" style="top:40%;left: 80%">
            <h1 style="background: #F6F7F8;font-size: 25px;height: 60px; line-height: 60px;color: #000">用户登陆</h1>

            <form action="/admin/login/?next=/admin/" method="post" id="login-form">
                {% csrf_token %}
                <div class="form-row control-group">
                    <label for="id_username" class="control-label required">用户名:</label> <input type="text" name="username" required id="id_username" autofocus maxlength="254" />
                  
                </div>
                <div class="form-row control-group">
                    <label for="id_password" class="control-label required">密码:</label> <input type="password" name="password" required id="id_password" />
                  
                    <input type="hidden" name="this_is_the_login_form" value="1"/>
                    <input type="hidden" name="next" value="/admin/"/>
                </div>
                
                <div class="submit-row">
                    <input type="submit" value="登录" class="btn btn-info" style="margin-right: 170px;background: #4a8df2;" />
                    <a href="/res"> 立刻注册 </a>
                </div>
            </form>

            <script type="text/javascript">
                document.getElementById('id_username').focus()
            </script>
        </div>
    


  
  <!-- Sticky footer push -->
  <div id="push"></div>
  

</div>


  <div class="footer">
    <a href="https://embway.com" class="icons">
        <img src="/static/img/embway_logo.png" alt="" style="margin:14px auto 14px 30px;width:150px;">
    </a>
</div>
  


  <script src="/static/suit/js/suit.js"></script>
  

</body>
</html>
