{% load admin_static %}
<!DOCTYPE html>
<html lang="en-us" >
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>注册 | evaluate</title>
  
  <link rel="stylesheet" type="text/css" href=""/>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="all"/>
  <link rel="stylesheet" type="text/css" href="/static/suit/css/suit.css" media="all">
  
    

  
  <script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
  <script src="/static/suit/js/jquery-2.2.4.min.js"></script>
  <script type="text/javascript">var Suit = { $: $.noConflict() }; if (!$) $ = Suit.$; </script>
  <script src="/static/suit/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery-1.11.3.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/register.js' %}"></script>
<!--   <script type="text/javascript">
      console.log('111111111')
      function submitss() {
          console.log('111111111')
          str=getElementById('password').value
          if(str.length<6){
          return false;
          alert('对不起，您的密码小于六位');
          }
      }
  </script> -->
  <style type="text/css">.required:after { content: '*'; margin: 0 0 0 5px; position: absolute; color: #ccc;}</style>
  
  
  
    <meta name="robots" content="NONE,NOARCHIVE"/>
</head>


<body class="login" style="background: #4a8df2">

<body class="login" style="background: #4a8df2">
  <div style="z-index: -2;position: absolute;margin:10% 0px 0px 15%;width: 50% ;height: 70%; background:url(/static/img/background.png) no-repeat;background-size:100%" >
    <!-- <img src="/static/img/background.png" alt="" style="position: absolute;margin:130px 0px 0px 190px;width:732px;height: 604px;"> -->
  </div>

{% for error in errors%}
<p class="errornote alert alert-error">
                        {{error}}
                    </p>
{% endfor %}
<!-- Sticky footer wrap -->
<div id="wrap">

  <!-- Container -->
  

    

        

        
    
        <div id="content-main" style="top:25%;left: 80%">
          <h1 style="background: #F6F7F8;font-size: 25px;height: 60px; line-height: 60px;color: #000">用户注册</h1>
<!--             {% if errors %}
                    <li>

                        {% for error in errors %}
                         <p style="color: red;">
                            {{error}}
                         </p>
                          {% endfor %}
                    </li>
            {% endif %} -->
            <form action="/res/" method="post" id="login-form" enctype="multipart/form-data"><div class="hide">
            {% csrf_token %}
            </div>
                <div class="form-row control-group">
                    <label for="id_username" class="control-label required">用户名:</label> <input type="text" name="username" maxlength="254" id="id_username" required autofocus />
                  
                </div>
                <div class="form-row control-group">
                    <label for="id_password" class="control-label required">密码:</label> <input type="password" name="password" id="id_password" required />
                    <label for="id_password" class="control-label required">确认密码:</label> <input type="password" name="password2"  required />

                    {% if issuper %}
                    <label for="id_password" class="control-label required">用户类型:</label> 
                    <select class='s1' name="type" style="width: 292px">
                        <option value="2">孵化器用户</option>
                        <option value="3">投资类机构用户</option>
                        <option value="4">银行类机构用户</option>
                    </select>
                    {% else %}
                    <input type="hidden" name="type" value="1">
                    {%endif%}



                </div>

                <div class="option">
                  {% if issuper %}
                    <label for="id_password" class="control-label required">孵化器名称:</label> <input type="text" name="name" required />
                                      <label for="id_password" class="control-label required">孵化器电话:</label> <input type="text" name="phone" required />
                  {% else %}
                    <label for="id_password" class="control-label required">企业名称:</label> <input type="text" name="name" required />
                    <label for="id_password" class="control-label required">所属孵化器:</label>


                    <!-- <select name="incubator" style="width: 292px"> -->
                    <input list="browsers" autocomplete="off" name="incubator" style="width: 278px;height: 19px;border: 1px solid #cccccc;box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);    transition: border linear .2s, box-shadow linear .2s;padding: 4px 6px;margin-bottom: 9px;    font-size: 12px;border-radius: 4px;">
                        <datalist id="browsers" style="width: 292px">
                        {% for incubator in incubators %}
                          {% if incubator.name %}
                          <option value="{{incubator.name}}"></option>
                          {% endif %}
                        {%  endfor  %}
                        </datalist>
                    <label for="id_password" class="control-label required">统一社会信用代码:</label> <input type="text" name="credit_code" required />
                    <label for="id_password" class="control-label required">企业电话:</label> <input type="text" name="phone" required />
                    <label for="id_password" class="control-label required">上传营业执照:<input type="file" name="business_license_pic" required>
                  {%endif%}
                </div>
                
                
                <div class="submit-row">
                    <input type="submit" value="注册" class="btn btn-info" style="margin-right: 170px;background: #4a8df2;" />
                    <a href="/admin"> 直接登陆 </a>
                </div>
            </form>

            <script type="text/javascript">
                document.getElementById('id_username').focus()
            </script>
        </div>
    


  
  <!-- Sticky footer push -->
  <div id="push"></div>
  

</div>


  
<div class="footer">
    <a href="https://embway.com" class="icons">
        <img src="/static/img/embway_logo.png" alt="" style="margin:14px auto 14px 30px;width:150px; z-index: 100">
    </a>
</div>
  


  <script src="/static/suit/js/suit.js"></script>
  

</body>
</html>
