{% load admin_static %}
<!DOCTYPE html>
<html lang="en-us" >
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>登录 | evaluate</title>
  
  <link rel="stylesheet" type="text/css" href=""/>
  <link rel="stylesheet" type="text/css" href="/static/suit/bootstrap/css/bootstrap.min.css" media="all"/>
  <link rel="stylesheet" type="text/css" href="/static/suit/css/suit.css" media="all">
  
    

  
  <script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
  <script src="/static/suit/js/jquery-2.2.4.min.js"></script>
  <script type="text/javascript">var Suit = { $: $.noConflict() }; if (!$) $ = Suit.$; </script>
  <script src="/static/suit/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery-1.11.3.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/register.js' %}"></script>
  <style type="text/css">.required:after { content: '*'; margin: 0 0 0 5px; position: absolute; color: #ccc;}</style>
  
  
  
    <meta name="robots" content="NONE,NOARCHIVE"/>
</head>


<body class="login">

<!-- Sticky footer wrap -->
<div id="wrap">

  <!-- Container -->
  

    

        

        
    
        <div id="content-main" style="top:20%">
            <h1><i class="icon-lock icon-white"></i> evaluate</h1>
            {% if errors %}
                    <li>

                        {% for error in errors %}
                         <p style="color: red;">
                            {{error}}
                         </p>
                          {% endfor %}
                    </li>
            {% endif %}
            <form action="/res/" method="post" id="login-form" enctype="multipart/form-data"><div class="hide">
            {% csrf_token %}
            </div>
                <div class="form-row control-group">
                    <label for="id_username" class="control-label required">用户名:</label> <input type="text" name="username" maxlength="254" id="id_username" required autofocus />
                  
                </div>
                <div class="form-row control-group">
                    <label for="id_password" class="control-label required">密码:</label> <input type="password" name="password" id="id_password" required />
                    <label for="id_password" class="control-label required">确认密码:</label> <input type="password" name="password2"  required />
<!--                     <label for="id_password" class="control-label required">用户类型:</label> 
                    <select class='s1' name="type" style="width: 292px">
                        <option value="1">企业用户</option>
                        <option value="2">孵化器用户</option>
                        <option value="3">投资类机构用户</option>
                        <option value="4">银行类机构用户</option>
                    </select> -->
                </div>
                <div class="option">

                    <label for="id_password" class="control-label required">企业名称:</label> <input type="text" name="name" required />
                    <label for="id_password" class="control-label required">所属孵化器:</label> <input type="text" name="incubator" required />
                    <label for="id_password" class="control-label required">统一社会信用代码:</label> <input type="text" name="credit_code" required />
                    <label for="id_password" class="control-label required">企业电话:</label> <input type="text" name="phone" required />
                    <label for="id_password" class="control-label required">上传营业执照:<input type="file" name="business_license_pic" required>

                </div>
                
                
                <div class="submit-row">
                    <input type="submit" value="登录" class="btn btn-info"/>
                </div>
            </form>

            <script type="text/javascript">
                document.getElementById('id_username').focus()
            </script>
        </div>
    


  
  <!-- Sticky footer push -->
  <div id="push"></div>
  

</div>


  
  <div id="footer" class="footer">
    <div class="content">
      <div class="tools">
        
          <a href="http://djangosuit.com/support/" target="_blank" class="icon"><i class="icon-question-sign"></i>Support</a>
          <a href="http://djangosuit.com/pricing/" target="_blank" class="icon"><i class="icon-bookmark"></i>Licence</a>
          <a href="http://github.com/darklow/django-suit/issues" target="_blank" class="icon"><i class="icon-comment"></i>Report a bug</a>
        
      </div>

      <div class="copyright">
        
          Copyright &copy; 2013-2018 DjangoSuit.com<br>Developed by <a href="http://djangosuit.com" target="_blank">DjangoSuit.com</a>
        
      </div>

      <div class="branding">
        
          evaluate
          
        
      </div>
    </div>
  </div>
  


  <script src="/static/suit/js/suit.js"></script>
  

</body>
</html>
