{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify suit_tags admin_urls %}
{% load url from suit_compat %}

{% block extrahead %}{{ block.super }}
  {% url 'admin:jsi18n' as jsi18nurl %}
  <script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>

  {{ media }}

{% endblock %}


{% block extrajs %}
  {{ block.super }}

  {% if 'CONFIRM_UNSAVED_CHANGES'|suit_conf %}
    <!-- Warn on leaving unsaved form -->
    <script src="{% static 'suit/js/suit-form-confirm.js' %}"></script>
    <script type="text/javascript">
      confirmExitIfModified('{% firstof opts.model_name opts.module_name %}_form', '{% trans 'You have unsaved changes' %}.');
    </script>
  {% endif %}

  {% if adminform.model_admin.suit_form_tabs %}
    <script type="text/javascript">
    (function ($) {
      $(function () {
        $('#suit_form_tabs').suit_form_tabs();
      });
    }(Suit.$))
    </script>
  {% endif %}
        
  <script>
    (function ($) {
      $(function () {
        $("#{% firstof opts.model_name opts.module_name %}_form").suit_form_debounce();
      });
    }(Suit.$))    
  </script>

{% endblock %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block content %}
  <div id="content-main" class="inner-two-columns">
    <form enctype="multipart/form-data" action="/res/" method="post"
          id="companyinfo_form" class="form-horizontal" novalidate>
      


      <div class="inner-right-column">

        <div class="box save-box">

          


<div class="submit-row clearfix">
  <button type="submit" class="btn btn-high btn-info" name="_save">保存</button>

  
</div>

        </div>

        

      

      </div>
      <div class="inner-center-column">
        {% csrf_token %}
        
          
        
        <div class="tab-content tab-content-main">
          
          

              
<fieldset class="module aligned first ">
    
  
    

    
                  
      
    
      <div class="control-group form-row field-name ">
        
          <div><div class="control-label"><label class="required" for="id_name" >用户名:</label></div><div class="controls"><input AUTOCOMPLETE="off" style="height: 28px;width: 220px;" type="text" name="username" class="vTextField" maxlength="50" id="id_name1" required /></div></div>
        
      </div>
    
      <div class="control-group form-row field-name ">
        
          <div><div class="control-label"><label class="required" for="id_name">密码:</label></div><div class="controls"><input AUTOCOMPLETE="off" style="height: 28px;width: 220px;" type="password" name="password" class="vTextField" maxlength="50" id="id_name2" required /></div></div>
        
      </div>
    
      <div class="control-group form-row field-name ">
        
          <div><div class="control-label"><label class="required" for="id_name">确认密码:</label></div><div class="controls"><input AUTOCOMPLETE="off" style="height: 28px;width: 220px;" type="password" name="password2" class="vTextField" maxlength="50" id="id_name3" required /></div></div>
        
      </div>
    


      <div class="control-group form-row field-incubator ">
        
          <div><div class="control-label"><label for="id_incubator">用户类型:</label></div><div class="controls"><div class="related-widget-wrapper"><select name="type" ><option value="2" selected>孵化器用户</option><option value="3" >投资机构用户</option><option value="4" >银行机构用户</option></select></div></div></div>
        

      </div>

      <div class="control-group form-row field-name ">
        
          <div><div class="control-label"><label class="required" for="id_name">名称:</label></div><div class="controls"><input AUTOCOMPLETE="off" style="height: 28px;width: 220px;" type="text" name="name" class="vTextField" maxlength="50" id="id_name4" required /></div></div>
        
      </div>

      <div class="control-group form-row field-name ">
        
          <div><div class="control-label"><label class="required" for="id_name">电话:</label></div><div class="controls"><input AUTOCOMPLETE="off" style="height: 28px;width: 220px;" type="text" name="phone" class="vTextField" maxlength="50" id="id_name5" required /></div></div>
        
      </div>

  


</fieldset>



            
          

          

          
          


            
              


            
          

        </div>

        

        
        


        
      </div>
    </form>
  </div>
{% endblock content %}