# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.pyc
*.so
*.egg
*.egg-info
dist
build


# My configurations:
db.ini
index/api/err
static/upload
migrations
*.xls
*.csv
company/static/upload