{% extends "admin/base_site.html" %} 




{% load admin_static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/balance.css' %}" media="all"/>
<script type="text/javascript" src="{% static 'js/balance.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-1.11.3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/xlsx.full.min.js' %}"></script>



{% endblock %}








{% load admin_static %}

{% block extrajs %}

{% endblock extrajs %}

{% block extrastyle %}

{% endblock extrastyle %}

{% block content %}


<form class='file' action="/excel" method="post">
    <input type="file" name="excel" accept=".xls" defaultValue="导入" onchange="importf(this)">
    <!-- <input type="submit" value="上传文件"> -->
    <a href="/static/baobiao.xls">excel模板下载</a>
</form>

<form class='mtable' action="submit_table/" method="post" enctype="multipart/form-data" >
    
    {% if status%}
    {% csrf_token %}
    <button onclick="deldata()" type="button">删除数据</button>
    <input class='upload' type="submit" value="提交数据">
    {% endif%}

    <div class="select">
        <input id="inputbrowsers" 
        {% if year%}
        value="{{year}}" 
        {% endif %}

        list="browsers" autocomplete="off" name="year" onchange="yearchange()" style="width: 100px">
        <datalist id="browsers" style="width: 100px">

        {% for ye in years %}
        <option value="{{ye}}"></option>
        {% endfor %}
        </datalist>
    </div>


  <script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script type="text/javascript" src="/static/admin/js/inlines.js"></script>
    
    <div class="nf"> 年份： </div>


    <table >
        <tr >
            <th> 资产
             </th>
            <th> 年初余额</th>
            <th> 期末余额</th>
            <th> 负债及所有者权益</th>
            <th> 年初余额</th>
            <th> 期末余额</th>
        </tr>
        {%for da in data%}
        <tr >
            {%for d in da%}
                {%if d.1 == False %}
                    <td class="{{d.0}}"><span></span> </td>
                {% elif d.1 == True%}
                    <td class="input">
                        <input type="text" class="{{d.0}} " name="{{d.0}} " value="{{d.2}}" placeholder="请填写" autocomplete="off">
                    </td>
                    
                {%else%}
                    <td class="{{d.0}}"> <span>{{d.1}}</span></td>
                {% endif %}
            {%endfor%}
        </tr>
        {%endfor%}
    </table>


</form>
{% endblock content %}