<!DOCTYPE html>
<html>
  <head>
    <title>企业信息-1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/企业信息-1/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/企业信息-1/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (背景) -->

      <!-- Unnamed (矩形) -->
      <div id="u8" class="ax_default box_2">
        <div id="u8_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10" class="ax_default box_3">
        <div id="u10_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12" class="ax_default box_3">
        <div id="u12_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u13" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u14" class="ax_default box_2">
        <div id="u14_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16" class="ax_default _三级标题">
        <div id="u16_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u17" class="text" style="visibility: visible;">
          <p><span>企业名称</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u18" class="ax_default text_field">
        <input id="u18_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u19" class="ax_default _三级标题">
        <div id="u19_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u20" class="text" style="visibility: visible;">
          <p><span>成立时间</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u21" class="ax_default text_field">
        <input id="u21_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u22" class="ax_default _三级标题">
        <div id="u22_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u23" class="text" style="visibility: visible;">
          <p><span>注册资本（万元）</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u24" class="ax_default text_field">
        <input id="u24_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u25" class="ax_default _三级标题">
        <div id="u25_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u26" class="text" style="visibility: visible;">
          <p><span>实收资本（万元）</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u27" class="ax_default text_field">
        <input id="u27_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u28" class="ax_default _三级标题">
        <div id="u28_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u29" class="text" style="visibility: visible;">
          <p><span>主营产品（或服务）</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u30" class="ax_default text_field">
        <input id="u30_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u31" class="ax_default _三级标题">
        <div id="u31_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u32" class="text" style="visibility: visible;">
          <p><span>职工总数</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u33" class="ax_default text_field">
        <input id="u33_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u34" class="ax_default _三级标题">
        <div id="u34_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u35" class="text" style="visibility: visible;">
          <p><span>大专以上学历人数</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u36" class="ax_default text_field">
        <input id="u36_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u37" class="ax_default _三级标题">
        <div id="u37_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u38" class="text" style="visibility: visible;">
          <p><span>从事研发人员数</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u39" class="ax_default text_field">
        <input id="u39_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u40" class="ax_default _三级标题">
        <div id="u40_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u41" class="text" style="visibility: visible;">
          <p><span>是否时高新技术企业</span></p>
        </div>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u42" class="ax_default radio_button">
        <label for="u42_input">
          <!-- Unnamed () -->
          <div id="u43" class="text" style="visibility: visible;">
            <p><span>是</span></p>
          </div>
        </label>
        <input id="u42_input" type="radio" value="radio" name="u42"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u44" class="ax_default radio_button">
        <label for="u44_input">
          <!-- Unnamed () -->
          <div id="u45" class="text" style="visibility: visible;">
            <p><span>否</span></p>
          </div>
        </label>
        <input id="u44_input" type="radio" value="radio" name="u44"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u46" class="ax_default _三级标题">
        <div id="u46_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u47" class="text" style="visibility: visible;">
          <p><span>企业简介</span></p>
        </div>
      </div>

      <!-- Unnamed (多行文本框) -->
      <div id="u48" class="ax_default text_area">
        <textarea id="u48_input"></textarea>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u49" class="ax_default _三级标题">
        <div id="u49_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u50" class="text" style="visibility: visible;">
          <p><span>行业领域</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u51" class="ax_default text_field">
        <input id="u51_input" type="text" value=""/>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u52" class="ax_default text_field">
        <input id="u52_input" type="text" value=""/>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u53" class="ax_default text_field">
        <input id="u53_input" type="text" value=""/>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u54" class="ax_default text_field">
        <input id="u54_input" type="text" value=""/>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u55" class="ax_default text_field">
        <input id="u55_input" type="text" value=""/>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u56" class="ax_default text_field">
        <input id="u56_input" type="text" value=""/>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u57" class="ax_default text_field">
        <input id="u57_input" type="text" value=""/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u58" class="ax_default radio_button">
        <label for="u58_input">
          <!-- Unnamed () -->
          <div id="u59" class="text" style="visibility: visible;">
            <p><span>电子信息</span></p>
          </div>
        </label>
        <input id="u58_input" type="radio" value="radio" name="u58"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u60" class="ax_default radio_button">
        <label for="u60_input">
          <!-- Unnamed () -->
          <div id="u61" class="text" style="visibility: visible;">
            <p><span>互联网及移动互联网</span></p>
          </div>
        </label>
        <input id="u60_input" type="radio" value="radio" name="u60"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u62" class="ax_default radio_button">
        <label for="u62_input">
          <!-- Unnamed () -->
          <div id="u63" class="text" style="visibility: visible;">
            <p><span>生物医药</span></p>
          </div>
        </label>
        <input id="u62_input" type="radio" value="radio" name="u62"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u64" class="ax_default radio_button">
        <label for="u64_input">
          <!-- Unnamed () -->
          <div id="u65" class="text" style="visibility: visible;">
            <p><span>生物医药</span></p>
          </div>
        </label>
        <input id="u64_input" type="radio" value="radio" name="u64"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u66" class="ax_default radio_button">
        <label for="u66_input">
          <!-- Unnamed () -->
          <div id="u67" class="text" style="visibility: visible;">
            <p><span>新能源及节能环保</span></p>
          </div>
        </label>
        <input id="u66_input" type="radio" value="radio" name="u66"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u68" class="ax_default radio_button">
        <label for="u68_input">
          <!-- Unnamed () -->
          <div id="u69" class="text" style="visibility: visible;">
            <p><span>新材料</span></p>
          </div>
        </label>
        <input id="u68_input" type="radio" value="radio" name="u68"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u70" class="ax_default radio_button">
        <label for="u70_input">
          <!-- Unnamed () -->
          <div id="u71" class="text" style="visibility: visible;">
            <p><span>其他</span></p>
          </div>
        </label>
        <input id="u70_input" type="radio" value="radio" name="u70"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u72" class="ax_default _三级标题">
        <div id="u72_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u73" class="text" style="visibility: visible;">
          <p><span>主要股东及股权比例（前五名）</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u74" class="ax_default text_field">
        <input id="u74_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u75" class="ax_default _三级标题">
        <div id="u75_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u76" class="text" style="visibility: visible;">
          <p><span>股东名称</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u77" class="ax_default text_field">
        <input id="u77_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u78" class="ax_default _三级标题">
        <div id="u78_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u79" class="text" style="visibility: visible;">
          <p><span>股权比例</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u80" class="ax_default _三级标题">
        <div id="u80_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u81" class="text" style="visibility: visible;">
          <p><span>出资形式（备选）</span></p>
        </div>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u82" class="ax_default radio_button">
        <label for="u82_input">
          <!-- Unnamed () -->
          <div id="u83" class="text" style="visibility: visible;">
            <p><span>货币出资</span></p>
          </div>
        </label>
        <input id="u82_input" type="radio" value="radio" name="u82"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u84" class="ax_default radio_button">
        <label for="u84_input">
          <!-- Unnamed () -->
          <div id="u85" class="text" style="visibility: visible;">
            <p><span>实物</span></p>
          </div>
        </label>
        <input id="u84_input" type="radio" value="radio" name="u84"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u86" class="ax_default radio_button">
        <label for="u86_input">
          <!-- Unnamed () -->
          <div id="u87" class="text" style="visibility: visible;">
            <p><span>知识产权</span></p>
          </div>
        </label>
        <input id="u86_input" type="radio" value="radio" name="u86"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u88" class="ax_default radio_button">
        <label for="u88_input">
          <!-- Unnamed () -->
          <div id="u89" class="text" style="visibility: visible;">
            <p><span>土地使用权</span></p>
          </div>
        </label>
        <input id="u88_input" type="radio" value="radio" name="u88"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u90" class="ax_default radio_button">
        <label for="u90_input">
          <!-- Unnamed () -->
          <div id="u91" class="text" style="visibility: visible;">
            <p><span>其他</span></p>
          </div>
        </label>
        <input id="u90_input" type="radio" value="radio" name="u90"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u92" class="ax_default _三级标题">
        <div id="u92_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u93" class="text" style="visibility: visible;">
          <p><span>基本信息</span></p>
        </div>
      </div>

      <!-- Unnamed (椭圆形) -->
      <div id="u94" class="ax_default ellipse">
        <img id="u94_img" class="img " src="images/企业信息-1/u94.png"/>
        <!-- Unnamed () -->
        <div id="u95" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u96" class="ax_default _三级标题">
        <div id="u96_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u97" class="text" style="visibility: visible;">
          <p><span>企业获奖情况</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u98" class="ax_default text_field">
        <input id="u98_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u99" class="ax_default _三级标题">
        <div id="u99_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u100" class="text" style="visibility: visible;">
          <p><span>获奖级别</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u101" class="ax_default text_field">
        <input id="u101_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u102" class="ax_default _三级标题">
        <div id="u102_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u103" class="text" style="visibility: visible;">
          <p><span>获奖级别</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u104" class="ax_default text_field">
        <input id="u104_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u105" class="ax_default _三级标题">
        <div id="u105_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u106" class="text" style="visibility: visible;">
          <p><span>获奖时间</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u107" class="ax_default box_2">
        <div id="u107_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u108" class="text" style="visibility: visible;">
          <p><span>+</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u109" class="ax_default _三级标题">
        <div id="u109_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u110" class="text" style="visibility: visible;">
          <p><span>核心团队个人获奖情况</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u111" class="ax_default text_field">
        <input id="u111_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u112" class="ax_default _三级标题">
        <div id="u112_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u113" class="text" style="visibility: visible;">
          <p><span>获奖人</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u114" class="ax_default text_field">
        <input id="u114_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u115" class="ax_default _三级标题">
        <div id="u115_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u116" class="text" style="visibility: visible;">
          <p><span>获奖级别/名称</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u117" class="ax_default text_field">
        <input id="u117_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u118" class="ax_default _三级标题">
        <div id="u118_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u119" class="text" style="visibility: visible;">
          <p><span>获奖时间</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u120" class="ax_default box_2">
        <div id="u120_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u121" class="text" style="visibility: visible;">
          <p><span>+</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u122" class="ax_default box_2">
        <div id="u122_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u123" class="text" style="visibility: visible;">
          <p><span>+</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u124" class="ax_default _三级标题">
        <div id="u124_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u125" class="text" style="visibility: visible;">
          <p><span>企业曾经承担或正在承担的科技计划项目</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u126" class="ax_default text_field">
        <input id="u126_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u127" class="ax_default _三级标题">
        <div id="u127_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u128" class="text" style="visibility: visible;">
          <p><span>计划类别</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u129" class="ax_default text_field">
        <input id="u129_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u130" class="ax_default _三级标题">
        <div id="u130_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u131" class="text" style="visibility: visible;">
          <p><span>立项名称</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u132" class="ax_default text_field">
        <input id="u132_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u133" class="ax_default _三级标题">
        <div id="u133_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u134" class="text" style="visibility: visible;">
          <p><span>立项时间</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u135" class="ax_default box_2">
        <div id="u135_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u136" class="text" style="visibility: visible;">
          <p><span>+</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u137" class="ax_default text_field">
        <input id="u137_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u138" class="ax_default _三级标题">
        <div id="u138_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u139" class="text" style="visibility: visible;">
          <p><span>结项时间/结论</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u140" class="ax_default _三级标题">
        <div id="u140_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u141" class="text" style="visibility: visible;">
          <p><span>企业核心技术知识产权情况（可复选）</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u142" class="ax_default box_2">
        <div id="u142_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u143" class="text" style="visibility: visible;">
          <p><span>+专利</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u144" class="ax_default box_2">
        <div id="u144_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u145" class="text" style="visibility: visible;">
          <p><span>+药品批文</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u146" class="ax_default box_2">
        <div id="u146_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u147" class="text" style="visibility: visible;">
          <p><span>+医疗器械注册证</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u148" class="ax_default box_2">
        <div id="u148_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u149" class="text" style="visibility: visible;">
          <p><span>+标准制定情况</span></p>
        </div>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u150" class="ax_default radio_button">
        <label for="u150_input">
          <!-- Unnamed () -->
          <div id="u151" class="text" style="visibility: visible;">
            <p><span>集成电路布图</span></p>
          </div>
        </label>
        <input id="u150_input" type="radio" value="radio" name="u150"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u152" class="ax_default radio_button">
        <label for="u152_input">
          <!-- Unnamed () -->
          <div id="u153" class="text" style="visibility: visible;">
            <p><span>其他</span></p>
          </div>
        </label>
        <input id="u152_input" type="radio" value="radio" name="u152"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u154" class="ax_default _三级标题">
        <div id="u154_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u155" class="text" style="visibility: visible;">
          <p><span>技术来源</span></p>
        </div>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u156" class="ax_default radio_button">
        <label for="u156_input">
          <!-- Unnamed () -->
          <div id="u157" class="text" style="visibility: visible;">
            <p><span>独立知识产权</span></p>
          </div>
        </label>
        <input id="u156_input" type="radio" value="radio" name="u156"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u158" class="ax_default radio_button">
        <label for="u158_input">
          <!-- Unnamed () -->
          <div id="u159" class="text" style="visibility: visible;">
            <p><span>合作研发</span></p>
          </div>
        </label>
        <input id="u158_input" type="radio" value="radio" name="u158"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u160" class="ax_default radio_button">
        <label for="u160_input">
          <!-- Unnamed () -->
          <div id="u161" class="text" style="visibility: visible;">
            <p><span>购买技术</span></p>
          </div>
        </label>
        <input id="u160_input" type="radio" value="radio" name="u160"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u162" class="ax_default _三级标题">
        <div id="u162_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u163" class="text" style="visibility: visible;">
          <p><span>其他</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u164" class="ax_default text_field">
        <input id="u164_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u165" class="ax_default _三级标题">
        <div id="u165_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u166" class="text" style="visibility: visible;">
          <p><span>成果转化来源</span></p>
        </div>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u167" class="ax_default radio_button">
        <label for="u167_input">
          <!-- Unnamed () -->
          <div id="u168" class="text" style="visibility: visible;">
            <p><span>高校/科研院所</span></p>
          </div>
        </label>
        <input id="u167_input" type="radio" value="radio" name="u167"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u169" class="ax_default radio_button">
        <label for="u169_input">
          <!-- Unnamed () -->
          <div id="u170" class="text" style="visibility: visible;">
            <p><span>相关科技计划</span></p>
          </div>
        </label>
        <input id="u169_input" type="radio" value="radio" name="u169"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u171" class="ax_default radio_button">
        <label for="u171_input">
          <!-- Unnamed () -->
          <div id="u172" class="text" style="visibility: visible;">
            <p><span>自行研发</span></p>
          </div>
        </label>
        <input id="u171_input" type="radio" value="radio" name="u171"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u173" class="ax_default _三级标题">
        <div id="u173_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u174" class="text" style="visibility: visible;">
          <p><span>其他</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u175" class="ax_default text_field">
        <input id="u175_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u176" class="ax_default _三级标题">
        <div id="u176_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u177" class="text" style="visibility: visible;">
          <p><span>核心团队（至少填三人）</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u178" class="ax_default text_field">
        <input id="u178_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u179" class="ax_default _三级标题">
        <div id="u179_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u180" class="text" style="visibility: visible;">
          <p><span>姓名</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u181" class="ax_default box_2">
        <div id="u181_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u182" class="text" style="visibility: visible;">
          <p><span>+</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u183" class="ax_default text_field">
        <input id="u183_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u184" class="ax_default _三级标题">
        <div id="u184_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u185" class="text" style="visibility: visible;">
          <p><span>性别</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u186" class="ax_default text_field">
        <input id="u186_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u187" class="ax_default _三级标题">
        <div id="u187_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u188" class="text" style="visibility: visible;">
          <p><span>年龄</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u189" class="ax_default text_field">
        <input id="u189_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u190" class="ax_default _三级标题">
        <div id="u190_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u191" class="text" style="visibility: visible;">
          <p><span>职位</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u192" class="ax_default text_field">
        <input id="u192_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u193" class="ax_default _三级标题">
        <div id="u193_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u194" class="text" style="visibility: visible;">
          <p><span>职称</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u195" class="ax_default _三级标题">
        <div id="u195_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u196" class="text" style="visibility: visible;">
          <p><span>留学经历</span></p>
        </div>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u197" class="ax_default radio_button">
        <label for="u197_input">
          <!-- Unnamed () -->
          <div id="u198" class="text" style="visibility: visible;">
            <p><span>是</span></p>
          </div>
        </label>
        <input id="u197_input" type="radio" value="radio" name="u197"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u199" class="ax_default radio_button">
        <label for="u199_input">
          <!-- Unnamed () -->
          <div id="u200" class="text" style="visibility: visible;">
            <p><span>否</span></p>
          </div>
        </label>
        <input id="u199_input" type="radio" value="radio" name="u199"/>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u201" class="ax_default text_field">
        <input id="u201_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u202" class="ax_default _三级标题">
        <div id="u202_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u203" class="text" style="visibility: visible;">
          <p><span>创业次数</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u204" class="ax_default _三级标题">
        <div id="u204_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u205" class="text" style="visibility: visible;">
          <p><span>教育经历（可增加）</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u206" class="ax_default box_2">
        <div id="u206_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u207" class="text" style="visibility: visible;">
          <p><span>+</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u208" class="ax_default text_field">
        <input id="u208_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u209" class="ax_default _三级标题">
        <div id="u209_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u210" class="text" style="visibility: visible;">
          <p><span>学历</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u211" class="ax_default text_field">
        <input id="u211_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u212" class="ax_default _三级标题">
        <div id="u212_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u213" class="text" style="visibility: visible;">
          <p><span>毕业院校</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u214" class="ax_default text_field">
        <input id="u214_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u215" class="ax_default _三级标题">
        <div id="u215_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u216" class="text" style="visibility: visible;">
          <p><span>专业</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u217" class="ax_default _三级标题">
        <div id="u217_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u218" class="text" style="visibility: visible;">
          <p><span>工作经历（可增加）</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u219" class="ax_default box_2">
        <div id="u219_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u220" class="text" style="visibility: visible;">
          <p><span>+</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u221" class="ax_default text_field">
        <input id="u221_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u222" class="ax_default _三级标题">
        <div id="u222_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u223" class="text" style="visibility: visible;">
          <p><span>工作单位</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u224" class="ax_default text_field">
        <input id="u224_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u225" class="ax_default _三级标题">
        <div id="u225_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u226" class="text" style="visibility: visible;">
          <p><span>职位</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u227" class="ax_default text_field">
        <input id="u227_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u228" class="ax_default _三级标题">
        <div id="u228_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u229" class="text" style="visibility: visible;">
          <p><span>工作时间</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u230" class="ax_default text_field">
        <input id="u230_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u231" class="ax_default _三级标题">
        <div id="u231_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u232" class="text" style="visibility: visible;">
          <p><span>谈对自己创业最重要的一个经历</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u233" class="ax_default _三级标题">
        <div id="u233_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u234" class="text" style="visibility: visible;">
          <p><span>新增工作经历</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u235" class="ax_default _三级标题">
        <div id="u235_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u236" class="text" style="visibility: visible;">
          <p><span>新增教育经历</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u237" class="ax_default _三级标题">
        <div id="u237_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u238" class="text" style="visibility: visible;">
          <p><span>新增核心团队人数</span></p>
        </div>
      </div>

      <!-- Unnamed (提交按钮) -->
      <div id="u239" class="ax_default html_button">
        <input id="u239_input" type="submit" value="完成"/>
      </div>
    </div>
  </body>
</html>
