{% extends "balance.html" %} 
{% load admin_static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/balance.css' %}" media="all"/>
<script type="text/javascript" src="{% static 'js/profit.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-1.11.3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/xlsx.full.min.js' %}"></script>



{% endblock %}

{% block content %}

<div style="height: auto; float:left; padding: 50px; background-color: #F5F5F5;">
<form class='file' action="/excel" method="post">
    <input type="file" name="excel" accept=".xls" defaultValue="导入" onchange="importf(this)">
    <!-- <input type="submit" value="上传文件"> -->
</form>
<form class='mtable' action="/admin/company/profit/submit_table/" method="post" enctype="multipart/form-data"  onsubmit="return verify()">
    
    {% if status%}
    {% csrf_token %}
    <button onclick="deldata()" type="button">删除数据</button>
    <input class='upload' type="submit" value="提交数据">
    {% endif%}

    <div class="select">
        <input id="inputbrowsers" 
        {% if year%}
        value="{{year}}" 
        {% endif %}

        list="browsers" autocomplete="off" name="year" onchange="yearchange()" style="width: 100px">
        <datalist id="browsers" style="width: 100px">

        {% for ye in years %}
        <option value="{{ye}}"></option>
        {% endfor %}
        </datalist>
    </div>




    <div class="nf"> 年份： </div>


    <table class="profit">
        <tr >
            <th> 项目 </th>
            <th> 本年金额</th>
        </tr>
        {%for da in data%}
        <tr >
            {%for d in da%}
                {%if d.1 == False %}
                    <td class="{{d.0}}"><span></span> </td>
                {% elif d.1 == True%}
                    <td class="input">
                        <input type="text" class="{{d.0}} " name="{{d.0}} " value="{{d.2}}" placeholder="请填写" autocomplete="off">
                    </td>
                    
                {%else%}
                    <td class="{{d.0}}"> <span>{{d.1}}</span></td>
                {% endif %}
            {%endfor%}
        </tr>
        {%endfor%}
    </table>

</form>
</div>
{% endblock content %}