{% extends "balance.html" %} 
{% load admin_static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/balance.css' %}" media="all"/>
<script type="text/javascript" src="{% static 'js/profit.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-1.11.3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/xlsx.full.min.js' %}"></script>



{% endblock %}

{% block content %}

<div id="content-main" class="inner-two-columns">

    <!-- <form enctype="multipart/form-data" action="" method="post" id="reportback_form" class="form-horizontal" novalidate=""> -->
    <form class='form-horizontal' action="" method="post" enctype="multipart/form-data" name='saveda' onsubmit="return verify()">

{% if status%}
      <div class="inner-right-column">

        <div class="box save-box">

{% csrf_token %}
<div class="submit-row clearfix">
  <button  class="btn btn-high btn-info" name="_save" onclick="save_h()">保存</button>
  <button  class="btn btn-high btn-info" name="_del" onclick="deldata()">删除</button>

</div>



        </div>
      </div>
{% endif%}
      <div class="inner-center-column">

        
          
        
        <div class="tab-content tab-content-main">
          
          

          
          

          
            
              
<fieldset class="module aligned first ">
    
  
    
      <div class="control-group form-row field-institution ">
        
          <div><div class="control-label"><label class="required">请填写表格年份:</label></div>
          <div class="controls">
            <input style="box-sizing:content-box;"
            {% if year%}
            value="{{year}}" 
            {% endif %}
           list="browsers" autocomplete="off"  name="year"
           type="text" class="vTextField" maxlength="50" id="inputbrowsers" required></div>
      
      </div>
        

      </div>


      
      <div class="control-group form-row field-note ">
        
          <div><div class="control-label"><label>下载表格模板:</label></div>
          <div class="controls">
            <input type="button" value="点击下载" onclick="location.href='/static/baobiao.xls'">
        </div>
      </div>

      </div>
      
      <div class="control-group form-row field-note ">
        
          <div><div class="control-label"><label>上传表格模板:</label></div>
          <div class="controls">
            <input type="file" name="excel" accept=".xls" defaultValue="导入" onchange="importf(this)">
        </div>
      </div>

      </div>
    
  




            
          

          

          
          


          
            
          

        

        


    
        </fieldset>



        <h4 style="margin-top:20px">资产负债表</h4>
        <fieldset style="margin: 0px auto;background-color: #F6F7F8;">

            <table class="profit">
                    <tr >
                        <th> 项目 </th>
                        <th> 上年金额</th>
                        <th> 本年金额</th>
                    </tr>
                    {%for da in data%}
                    <tr >
                        {%for d in da%}
                            {%if d.1 == False %}
                                <td class="{{d.0}}"><span></span> </td>
                            {% elif d.1 == True%}
                                <td class="input">
                                    <input type="text" class="{{d.0}} " name="{{d.0}} " value="{{d.2}}" placeholder="请填写" autocomplete="off">
                                </td>
                                
                            {%else%}
                                <td class="{{d.0}}"> <span>{{d.1}}</span></td>
                            {% endif %}
                        {%endfor%}
                    </tr>
                    {%endfor%}
                </table>


      </fieldset>
      
    </div>

  </div>
    </form>
  </div>





{% endblock content %}