{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/status.css' %}" media="all">
  <script src="{% static 'js/status.js' %}"></script>
  {{ block.super }}
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
  <div id="content-main">
    {% if app_list %}

      {% if global_group == 'super' %}
        <div class="module">
          <table class="table-overview applist" summary="Models available in the 用户数据管理 application.">
            <caption><a href="/admin/incubator/incubator/" class="section">用户数据管理</a></caption>
              <tbody><tr>
                <th scope="row">孵化器数据统计</th>
                
                  <td>
                    <a href="/admin/incubator/incubator/" class="changelink icon">修改</a>
                  </td>
              </tr>
            
              <tr>
                <th scope="row">企业数据统计</th>
                
                  <td>
                    <a href="/admin/company/companyinfo/" class="changelink icon">修改</a>
                  </td>
              </tr>
          </tbody></table>
        </div>


        <div class="module">
          <table class="table-overview applist" summary="Models available in the 评分管理 application.">
            <caption><a href="/admin/company/independentevaluationofenterprises/" class="section">评分管理</a></caption>
              <tbody><tr>
                <th scope="row">校正评价</th>
                
                  <td>
                    <a href="/admin/company/independentevaluationofenterprises/" class="changelink icon">修改</a>
                  </td>
              </tr>
            
              <tr>
                <th scope="row">加分项</th>
                
                  <td>
                    <a href="/admin/index/bonus/" class="changelink icon">修改</a>
                  </td>
              </tr>
            
              <tr>
                <th scope="row">减分项</th>
                
                  <td>
                    <a href="/admin/index/subtraction/" class="changelink icon">修改</a>
                  </td>
              </tr>
          </tbody></table>
        </div>

        <div class="module">
          <table class="table-overview applist" summary="Models available in the 报告管理 application.">
            <caption><a href="/admin/institution/report/" class="section">报告管理</a></caption>
              <tbody><tr>
                <th scope="row">生成报告</th>
                
                  <td>
                    <a href="/admin/institution/report/" class="changelink icon">修改</a>
                  </td>
              </tr>
            
              <tr>
                <th scope="row">发送投资类金融报告</th>
                
                  <td>
                    <a href="/admin/institution/investreport/" class="changelink icon">修改</a>
                  </td>
              </tr>
            
              <tr>
                <th scope="row">发送银行类金融报告</th>
                
                  <td>
                    <a href="/admin/institution/bankreport/" class="changelink icon">修改</a>
                  </td>
              </tr>
          </tbody></table>
        </div>


        <div class="module">
          <table class="table-overview applist" summary="Models available in the 账号管理 application.">
            <caption><a href="/admin/auth/user/" class="section">账号管理</a></caption>
              <tbody><tr>
                <th scope="row">账号管理</th>
                
                  <td>
                    <a href="/admin/auth/user/" class="changelink icon">修改</a>
                  </td>
              </tr>
          </tbody></table>
        </div>


        <div class="module">
          <table class="table-overview applist" summary="Models available in the 反馈信息 application.">
            <caption><a href="/admin/institution/reportback/" class="section">反馈信息</a></caption>
              <tbody><tr>
                <th scope="row">反馈信息</th>
                
                  <td>
                    <a href="/admin/institution/reportback/" class="changelink icon">修改</a>
                  </td>
              </tr>
          </tbody></table>
        </div>



      {% elif global_group == '企业用户' %}
        <div class="module">
          <table class="table-overview applist" summary="Models available in the 基本信息 application.">
            <caption><a href="/admin/company/companyinfo/" class="section">基本信息</a></caption>
              <tbody><tr>
                <th scope="row">企业信息</th>
                
                  <td>
                    <a href="/admin/company/companyinfo/" class="changelink icon">修改</a>
                  </td>
              </tr>
          </tbody></table>
        </div>

        <div class="module">
          <table class="table-overview applist" summary="Models available in the 财务数据 application.">
            <caption><a href="/admin/company/balance/" class="section">财务数据</a></caption>
              <tbody><tr>
                <th scope="row">资产负债表</th>
                
                  <td>
                    <a href="/admin/company/balance/" class="changelink icon">修改</a>
                  </td>
              </tr>

              <tr>
                <th scope="row">利润表</th>
                
                  <td>
                    <a href="/admin/company/profit/" class="changelink icon">修改</a>
                  </td>
              </tr>

              <tr>
                <th scope="row">现金流量表</th>
                
                  <td>
                    <a href="/admin/company/cashflow/" class="changelink icon">修改</a>
                  </td>
              </tr>

          </tbody></table>
        </div>

        <div class="module">
          <table class="table-overview applist" summary="Models available in the 自主评价 application.">
            <caption><a href="/admin/company/independentevaluationofenterprises/" class="section">自主评价</a></caption>
              <tbody><tr>
                <th scope="row">自主评价</th>
                
                  <td>
                    <a href="/admin/company/independentevaluationofenterprises/" class="changelink icon">修改</a>
                  </td>
              </tr>
          </tbody></table>
        </div>

        <div class="module">
          <table class="table-overview applist" summary="Models available in the 企业进度 application.">
            <caption><a href="/admin/company/company_status/" class="section">企业进度</a></caption>
              <tbody><tr>
                <th scope="row">企业进度</th>
                
                  <td>
                    <a href="/admin/company/company_status/" class="changelink icon">修改</a>
                  </td>
              </tr>
          </tbody></table>
        </div>

        <div class="module">
          <table class="table-overview applist" summary="Models available in the 反馈信息 application.">
            <caption><a href="/admin/institution/reportback/" class="section">反馈信息</a></caption>
              <tbody><tr>
                <th scope="row">反馈信息</th>
                
                  <td>
                    <a href="/admin/institution/reportback/" class="changelink icon">修改</a>
                  </td>
              </tr>
          </tbody></table>
        </div>




      {% elif global_group == '孵化器用户' %}
        <div class="module">
          <table class="table-overview applist" summary="Models available in the 基本信息 application.">
            <caption><a href="/admin/company/companyinfo/" class="section">基本信息</a></caption>
              <tbody><tr>
                <th scope="row">企业基本信息</th>
                
                  <td>
                    <a href="/admin/company/companyinfo/" class="changelink icon">修改</a>
                  </td>
              </tr>


              <tr>
                <th scope="row">校正评价</th>
                
                  <td>
                    <a href="/admin/company/independentevaluationofenterprises/" class="changelink icon">修改</a>
                  </td>
              </tr>


              <tr>
                <th scope="row">驳回理由</th>
                
                  <td>
                    <a href="/admin/company/rejectreason/" class="changelink icon">修改</a>
                  </td>
              </tr>

              <tr>
                <th scope="row">反馈信息</th>
                
                  <td>
                    <a href="/admin/institution/reportback/" class="changelink icon">修改</a>
                  </td>
              </tr>

          </tbody></table>
        </div>




      {% elif global_group == '机构用户' %}
        <div class="module">
          <table class="table-overview applist" summary="Models available in the 基本信息 application.">
            <caption><a href="/admin/institution/{{institution_type}}report/" class="section">基本信息</a></caption>
              <tbody><tr>
                <th scope="row">金融报告</th>
                  <td>
                    <a href="/admin/institution/{{institution_type}}report/" class="changelink icon">修改</a>
                  </td>
              </tr>



              <tr>
                <th scope="row">反馈信息</th>
                
                  <td>
                    <a href="/admin/institution/reportback/" class="changelink icon">修改</a>
                  </td>
              </tr>

          </tbody></table>
        </div>
      {% endif %}


      
    {% else %}
      <p>{% trans "You don't have permission to edit anything." %}</p>
    {% endif %}
  </div>



  {% if 0 %} {# company_status #}
  <div class="stmain">

      <h2>企业审核状态</h2>
      {% for cstatus in company_status%}
        <div class="item">
            <img class="status" src="/static/img/status{{ cstatus.1 }}.png">
            {% if cstatus.0 == "请再次确认提交" or cstatus.0 == "请确认提交数据" %}
              <a onclick="submit_lock()" ><span class="status">{{cstatus.0}}</span></a>
            {% else %}
              <span class="status" 
              

              {% if cstatus.1 == "4" %}
                style="color: #999" 
              {% endif %}



              >{{cstatus.0}}</span>
            {% endif %}

            




            
            {% if cstatus.2%}
              <img class="statusj" src="/static/img/statusj.png">

              <div  class="citems">

                  {% for css in cstatus.2%}
                  <div class="citem">
                      <img class="status" src="/static/img/status{{ css.1 }}.png">
                      <span class="status"

                      {% if css.1 == "4" %}
                        style="color: #999" 
                      {% endif %}

                      >{{ css.0 }}</span>
                  </div>
                  {%endfor%}

              </div>
            {% endif %}
        </div>
      {%endfor%}
  </div>
  {% endif %}
 











{% endblock %}


{% block sidebar %}
<!--   <div id="content-related">
    <div class="module" id="recent-actions-module">
      <h4 class="italic-title">{% trans 'My Actions' %}</h4>

      {% load log %}
      {% get_admin_log 10 as admin_log for_user user %}
      {% if not admin_log %}
        <p>{% trans 'None available' %}</p>
      {% else %}
        <ul class="actionlist">
          {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}text-error{% endif %}">

              <i class="{% if entry.is_addition %}icon-plus{% endif %}{% if entry.is_change %}icon-pencil{% endif %}{% if entry.is_deletion %}icon-trash{% endif %} icon-alpha5"></i>

              {% spaceless %}
                {% if entry.is_addition %}{% trans 'added'|capfirst %}{% endif %}
                {% if entry.is_change %}{% trans 'changed'|capfirst %}{% endif %}
                {% if entry.is_deletion %}{% trans 'deleted'|capfirst %}{% endif %}

                {% if entry.content_type %}
                  <span class="mini quiet">{% filter capfirst %}
                    {% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                  <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
              {% endspaceless %}&nbsp;

              {% if entry.is_deletion or not entry.get_admin_url %}
                <span class="color-grey">{{ entry.object_repr }}</span>
              {% else %}
                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div> -->
{% endblock %}
