 /* 自定义字体，颜色*/
    #left-nav ul li a{
        font-size: 14px;
        color: #333333;
        padding: 7px 10px 7px 18px;
        font-family: Microsoft YaHei;
        border-bottom: 1px ;
    }

    /* 左侧栏.hover 样式 */
    #left-nav>ul>li a:hover + ul li a {
        border: none;
    }

    #left-nav>ul>li a:hover + ul li {
        padding: 0;
    }

    /* 自定义二级菜单 */
    #left-nav ul ul a{
        height: 46px;
        line-height: 46px;
        padding: 0 46px 0 46px;
        margin: 0;
    }

    #left-nav ul ul li {
        border: none;
        padding: 0;
    }

    /*left-nav>ul>li a:visited a:hover a:active + ul li a {*/
    /*    padding-left: 60px;*/
    /*}*/

    /* 自定义二级菜单选中颜色 */
    #left-nav>ul>li ul li.active a{
        color: #148CCC;
    }

    /* 自定义一级菜单选中颜色 */
    #left-nav>ul>li.active>a{
        color: #fff;
    }

    /* 自定义ul padding */
    .left-nav>ul {
        padding: 20px 0;
    }

    .left-nav>ul>li>a i {
        margin-right: 14px;
    }
    /* 自定义li padding */
    li {
        padding-top: 10px;
    }

    /* 自定义我的操作 */
    .dashboard #content #content-related {
        padding-top: 20px;
    }

    /* 我的操作 */
    .actionlist {
        margin: 10px 5px;
    }

    .actionlist li {
        padding: 10px 8px 0 5px;
        font-size: 13px;
    }

    .actionlist li:first-child {
	padding-top: 10px;
    }

    /* 列表，详情，删除页 最上 */
    .breadcrumb {
        background: #fff;
        padding: 2px 15px;
        margin: 5px 0 15px;
    }

    .breadcrumb li {
        padding: 8px 0 8px 0;
    }
    /* 自定义列表上面 */
    .breadcrumb>li a{
        color: #666;
    }

    .breadcrumb li.active {
        font-weight: normal;
         color: #148CCC;
    }
