.login {
    /* width: 100%; */
    background: url(../images/single_color_background.png) repeat-x;
}

.login #wrap {
    width: 1300px;
    height: 1000px;
    /*position: absolute;*/
    /*margin: -10px auto;*/
    background: url(../images/background_word.png) no-repeat;
    /*background: url(../images/high_word.png);*/
}

.login #content-main {
    margin-top: 50px;
}

/* 字体 */
label, input, button, select, textarea {
    font-size: 14px;
}

/* 表单高度 */
.login #content-main form input[type=text], .login #content-main form input[type=password] {
    height: 26px;
    font-size: 14px;
    padding: 4px 14px;
}

label {
    margin-bottom: 10px;
}

/* 登录按钮 */
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    width: 310px;
    height: 32px;
    font-size: 14px;
}