div.item,div.citems{
    margin: 0px;
    position: relative;
    background: #fff;
    width: 320px;
    height: 46px;
    margin-top: 22px;
    border-radius:5px;
    /*box-shadow: 2px 2px 15px #ccc;*/
    border:1px solid #ccc;
}

div.citem,div.citems{

    width: 280px;
    height: 46px;

    
    background: #fff;
    z-index:10;
}
div.citems{
    display: none;
    height: auto;
    left: 40px;
    top:-34px;
    max-height: 500px;
    overflow: auto;
}
div.citem{

    position: relative;
    min-height: 46px;
    height: auto;
}


div.stmain{
    float: left;
    margin: 0px 45px;
    width: 330px;
    height: auto;
}



img.status{

    width: 18px;
    height: 18px;
    position: absolute;
    top:0px;
    left: 0px;
    margin: 14px 22px;
}

span.status{
    /*position: absolute;
    top:0px;
    left: 55px;*/

    display: inline-block;
    line-height: 25px;
    min-height: 46px;
    padding: 12px 40px 0px 55px;
}

img.statusj{
    width: 18px;
    height: 10px;
    position: absolute;
    top:0px;
    right: 0px;
    margin: 18px 22px;
}

div.item:hover>div.citems{
    display:block;
}